body{
    overflow: scroll;
}

#wrapper{
    width: 960px;
}

#top{
    height: 135px;
    line-height: 135px;
}

#companyLogo{
    height: 135px;
}

.Helvetica {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.grSmaller {
    width: 329px;
}

.grBigger {
    width: 600px;
}

.textRight {
    text-align: right;

}

a {
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

/* marginCenter will bring the wrapper and content inside in the center */
.marginCenter{
    margin-right: auto;
    margin-left: auto;
}

.wrapperPaddingRight{
    padding-right: 31px;
}

/* floatLeft will bring the menu next to the logo */
.floatLeft{
    float: left;
}

.clearMargin{
    margin: 0px;
}

.clearPadding{
    margin: 0px;
}

/* displayInline will bring the home and about file on one line */
.displayInline{
    display: inline;
}

.align-Right {
    text-align: right;
}

#banner {
    background-image: url("../image/4x4-adventure-automobile-1571783.jpg");
    background-size: cover;
    height: 550px;
    position: relative;
}

/* Opacity for part of the image */
#opacity{
    height: 550px;
    width: 480px;
    background: black;
    position: absolute;
    opacity: 0.6;
}

#banner h1 {
    position: relative;
    top: 135px;
    left: 30px;
    color: white;
    font-weight: bold;
}

#banner h3 {
    position: relative;
    top: 155px;
    left: 320px;
    color: #1006E2;
    font-weight: bold;
}

#footer {
    height: 100px;
    line-height: 100px;
    background-color: black;
    color: white;
}

.alignCenter {
    text-align: center;
}


/***************** about.html css start here *****************/

.fontSize {
    line-height: 27px;
    font-size: 16px;
}

.contentMarginRight {
    margin-left: 31px;
    margin-right: 31px;
}

.bodyText {
    margin-left: 30px;
    line-height: 20px;
}

.textCenter {
    text-align: center;
}

.thinBorder {
    border: 1px black solid;
}

#sideCardLeft {
    padding: 18px;
}

.alignRight {
    text-align: right;
}

.footer {
    height: 100px;
    line-height: 100px;
    background-color: black;
    color: white;
    margin-top: 600px;
    text-align: center;
}
